# ============ 模型文件（8.6G！绝对不能提交） ============
models/

# ============ 数据文件（161M，GitHub 单文件限制 100MB） ============
data/

# ============ 其他大文件 ============


# ============ Python 常见忽略项 ============
__pycache__/
*.pyc
.env
.runtime/


/data/*
!/data/.gitkeep
/models/*
!/models/.gitkeep
